body {
	background-color: black;
}

.jumbotron {
	border-radius: 5px;
	padding: 20px;
	margin: 10px;
	text-align: center;
	font-size: 50px;
	background-color: darkgrey;
}

.panel {
	padding: 10px;
	margin: 5px;
	font-size: 15px;
}

.panel-title {
	font-size: 15px;
}


h4 {
	font-weight: bold;
	text-decoration: underline;
}

th {
	font-size: 15px;
	padding: 5px;
	text-decoration: underline;
	text-align: center;
}

td {
	padding: 5px;
	text-align: center;
}

#addTrain {
	background-color: lightgrey;
}
